## Imports

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

## Input

In [2]:
gt = pd.read_csv("input/gt.csv")
gt

      x    y    w    h  c
0    10    0  100  100  1
1   200  300   95  200  1
2  1000  500  250  300  1
3   700  500   98  112  1
4   690  212  102  108  1

In [3]:
pred = pd.read_csv("input/pred.csv")
pred

      x    y     w     h  c  conf
0   710  530    83    92  1   0.4
1   653  250    79    94  1   0.6
2   205  310   100   196  1   0.7
3  1020  490   200   312  1   0.5
4   123  463   335  1023  1   0.8
5   463  230  1020   350  1   0.3
6     5    7   101   103  1   0.9

In [6]:
seg1 = np.array([[0, 1], [2, 3]])
seg2 = np.array([[0, 2], [2, 3]])
np.max(np.array([seg1[:, 0], seg2[:, 0]]), axis=1)

array([2, 2])

In [ ]:
def get_intersection(seg1, seg2):
    l = np.array([seg1[:, 0], seg2[:, 0]])
    r = np.array([seg1[:, 1], seg2[:, 1]])
    return np.clip(np.min(r, axis=1) - np.max(l, axis=1), 0, None)