# Input data

In [1]:
speed_limit = 40
violation_threshold = 1

# Classic approach

In [2]:
# Dictionary {I: [V, C, T, X, Y]}
# I - object ID
# V - determines whether the objects is a violator
# C - violation time counter
# T - previos timestamp
# X - previous X coordinate
# Y - previos Y coordinate
ids = {}

with open("input/data.csv", 'r', newline='') as csvfile:
    next(csvfile)
    for line in csvfile:
        # Read line
        vals = line.split(',')
        i = vals[1]
        t, x, y = float(vals[0]), float(vals[3]), float(vals[4])

        # Add object if not present
        if i not in ids:
            ids[i] = [False, 0, t, x, y]
            continue
        
        # Skip object if it's a violator
        if ids[i][0]:
            continue

        # Calculate statistics
        dt = t - ids[i][2]
        dx = x - ids[i][3]
        dy = y - ids[i][4]
        s = (dx**2 + dy**2)**0.5
        v = s / dt * 3.6

        # Determine speed limit violation
        if v > speed_limit:
            ids[i][1] += dt
        else:
            ids[i][1] = 0

        # Determine counter exceeding
        if ids[i][1] >= violation_threshold:
            ids[i][0] = True
        
        # Update data
        ids[i][2] = t
        ids[i][3] = x
        ids[i][4] = y

In [3]:
vs = [v[0] for v in ids.values()]
vs_ids = [k for k, v in zip(ids.keys(), vs) if v]
for v in vs_ids:
    print(v)

00000000-0000-0000-0000-000000006508
00000000-0000-0000-0000-000000006629
00000000-0000-0000-0000-000000006467
00000000-0000-0000-0000-000000006647
00000000-0000-0000-0000-000000006605
00000000-0000-0000-0000-000000006660

# Using pandas

In [4]:
import pandas as pd

df = pd.read_csv("input/data.csv", index_col=False)

In [5]:
df

,TIMESTAMP,TRACK_ID,OBJECT_TYPE,X,Y,CITY_NAME
0,3.159672e+08,00000000-0000-0000-0000-000000000000,AV,2183.412276,724.388351,PIT
1,3.159672e+08,00000000-0000-0000-0000-000000006508,OTHERS,2159.402694,711.473119,PIT
2,3.159672e+08,00000000-0000-0000-0000-000000006293,OTHERS,2229.611668,762.482721,PIT
3,3.159672e+08,00000000-0000-0000-0000-000000006566,OTHERS,2240.571538,768.533941,PIT
4,3.159672e+08,00000000-0000-0000-0000-000000006585,OTHERS,2190.728600,730.459119,PIT
...,...,...,...,...,...,...
786,3.159672e+08,00000000-0000-0000-0000-000000006684,OTHERS,2161.384583,701.669894,PIT
787,3.159672e+08,00000000-0000-0000-0000-000000006508,OTHERS,2112.931861,673.248816,PIT
788,3.159672e+08,00000000-0000-0000-0000-000000006661,OTHERS,2251.211259,789.101345,PIT
789,3.159672e+08,00000000-0000-0000-0000-000000006681,OTHERS,2173.064191,712.178570,PIT
790,3.159672e+08,00000000-0000-0000-0000-000000006676,OTHERS,2206.813988,751.345232,PIT

In [6]:
dfs = []
df_ids = df['TRACK_ID']
for i in set(df_ids):
    dfs.append((i, df[df_ids == i]))

In [7]:
dfs[0]

('00000000-0000-0000-0000-000000006467',
         TIMESTAMP                              TRACK_ID OBJECT_TYPE  \
 10   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 25   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 40   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 56   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 72   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 90   3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 106  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 119  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 134  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 149  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 164  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 179  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 195  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 210  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 226  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 242  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 254  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 270  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 285  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 300  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 315  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 331  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 347  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 367  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 375  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 391  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 407  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 423  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 449  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 457  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 473  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 491  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 507  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 522  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 540  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 550  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 566  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 582  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 608  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 618  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 636  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 655  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 671  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 687  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 698  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 714  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 730  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 746  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 762  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS
 778  3.159672e+08  00000000-0000-0000-0000-000000006467      OTHERS

                X           Y CITY_NAME
 10   2215.553739  747.296654       PIT
 25   2216.524718  748.102550       PIT
 40   2217.550071  748.862534       PIT
 56   2218.595788  749.763150       PIT
 72   2219.592392  750.606620       PIT
 90   2220.610920  751.474679       PIT
 106  2221.674220  752.390820       PIT
 119  2222.657640  753.118834       PIT
 134  2223.666919  753.975381       PIT
 149  2224.715207  754.923602       PIT
 164  2225.818322  755.769332       PIT
 179  2226.804452  756.700521       PIT
 195  2227.758824  757.389293       PIT
 210  2228.659458  758.297316       PIT
 226  2229.663477  759.097945       PIT
 242  2230.671586  759.929627       PIT
 254  2231.597481  760.686879       PIT
 270  2232.614756  761.530128       PIT
 285  2233.572462  762.398619       PIT
 300  2234.687897  763.546836       PIT
 315  2234.687897  763.546836       PIT
 331  2236.264986  765.307506       PIT
 347  2237.482830  766.070038       PIT
 367  2238.385811  766.849695       PIT
 375  2239.564575  767.674599       PIT
 391  2240.554169  768.367572       PIT
 407  2241.712034  769.133976       PIT
 423  2242.534155  769.941553       PIT
 449  2243.657183  770.563714       PIT
 457  2244.483510  771.333760       PIT
 473  2245.395312  772.183922       PIT
 491  2246.447434  772.920689       PIT
 507  2247.435689  773.707882       PIT
 522  2248.341306  774.594655       PIT
 540  2249.352865  775.365022       PIT
 550  2250.361415  776.458033       PIT
 566  2251.240508  777.182748       PIT
 582  2252.121474  777.873021       PIT
 608  2253.065936  778.714200       PIT
 618  2254.036175  779.495796       PIT
 636  2254.889859  780.415478       PIT
 655  2255.957277  781.110004       PIT
 671  2256.811465  781.931163       PIT
 687  2257.820532  782.682726       PIT
 698  2258.742137  783.444360       PIT
 714  2259.675427  784.230797       PIT
 730  2260.556957  785.104914       PIT
 746  2261.460253  785.815444       PIT
 762  2262.479965  786.665396       PIT
 778  2263.447121  787.309601       PIT  )

In [8]:
viols = []
for i, d in dfs:
    diff = d[['TIMESTAMP', 'X', 'Y']].diff()
    diff['S'] = (diff['X']**2 + diff['Y']**2)**0.5
    diff['V'] = diff['S'] / diff['TIMESTAMP'] * 3.6
    
    mask = diff['V'] > 40
    group = mask.ne(mask.shift()).cumsum()
    groups = diff[mask].groupby(group)

    overflow = groups['TIMESTAMP'].agg('sum') >= 1
    if overflow.any():
        viols.append(i)

In [9]:
viols

['00000000-0000-0000-0000-000000006467',
 '00000000-0000-0000-0000-000000006605',
 '00000000-0000-0000-0000-000000006647',
 '00000000-0000-0000-0000-000000006660',
 '00000000-0000-0000-0000-000000006629',
 '00000000-0000-0000-0000-000000006508']

# Using generators

In [10]:
def trace():
    violation_time = 0
    t_prev, x_prev, y_prev = 0, 0, 0
    while True:
        t, x, y = yield

        if t_prev != 0:
            dt = t - t_prev
            dx = x - x_prev
            dy = y - y_prev

            distance = (dx**2 + dy**2)**0.5
            speed = distance / dt * 3.6
            
            if speed > speed_limit:
                violation_time += dt
            else:
                violation_time = 0

        yield violation_time >= violation_threshold
        t_prev, x_prev, y_prev = t, x, y

In [11]:
def violators(file):
    traces = {}
    with open(file, 'r', newline='') as csvfile:
        next(csvfile)
        for line in csvfile:
            # Read and parse line
            vals = line.split(',')
            id = vals[1]
            t, x, y = float(vals[0]), float(vals[3]), float(vals[4])

            # Add new trace
            if id not in traces:
                tr = trace(); next(tr)
                traces[id] = tr

            tr = traces[id]

            # Skip violators
            if not tr:
                continue
            
            violator = tr.send((t, x, y))
            next(tr)
            
            if violator:
                # Invalidate trace
                traces[id] = False
                yield id

In [12]:
for v in violators("input/data.csv"):
    print(v)

00000000-0000-0000-0000-000000006467
00000000-0000-0000-0000-000000006647
00000000-0000-0000-0000-000000006605
00000000-0000-0000-0000-000000006629
00000000-0000-0000-0000-000000006508
00000000-0000-0000-0000-000000006660

# Assert

In [13]:
set(vs_ids) == set(violators("input/data.csv"))

True